*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: cadetblue;
    color: #ffffff;
}

.title {
    text-align: center;
    padding: 10px 0;
    background-color: darkmagenta;
}

.game {
    text-align: center;
    padding: 20px 0;
}

p{
    font-size: 1.5rem;
    margin: 20px 0;
}

input {
    padding: 10px;
    width: 150px;
    outline-color: yellowgreen;
}

.btn {
    text-align: center;   
    margin: 10px 0;
}

button {
    padding: 8px;
    width: 75px;
    cursor: pointer;
}

#guessNumber {
    font-size: 1.1rem;
}
.g {
    display: none;
}

.guess {
    display: block;
}
